<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Hotel Earth Light</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo-5.png">

        <!-- CSS here -->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/gijgo.css">
            <link rel="stylesheet" href="assets/css/slicknav.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="assets/css/themify-icons.css">
            <link rel="stylesheet" href="assets/css/slick.css">
            <link rel="stylesheet" href="assets/css/nice-select.css">
            <link rel="stylesheet" href="assets/css/style.css">
            <link rel="stylesheet" href="assets/css/responsive.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
            <!-- Include the FontAwesome library -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


   </head>

   <body>
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <strong>Earth Light</b>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area header-sticky">
            <div class="main-header ">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                               <a href="index.html"><img src="assets/img/logo/logo-5.png" alt=""></a>
                            </div>
                        </div>
                    <div class="col-xl-8 col-lg-8">
                            <!-- main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">                                                                                                                                     
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="services.html">Service</a></li>
                                         <li><a href="features.html">Features</a></li>
                                        <!-- <li><a href="blog.html">Blog</a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="single-blog.html">Blog Details</a></li>
                                            </ul>
                                        </li> -->
                                        <li><a href="#">Rooms & Suites</a>
                                            <ul class="submenu">
                                                <li><a href="rooms.html">Rooms</a>
                                                <!-- <li><a href="elements.html">Element</a></li> -->
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>             
                       <div class="col-xl-2 col-lg-2">
                            <!-- header-btn -->
                            <div class="header-btn">
                                <a href="https://www.tripadvisor.com/Hotel_Review-g1367591-d17452658-Reviews-Hotel_Earth_Light-Sauraha_Chitwan_District_Narayani_Zone_Central_Region.html" class="btn btn1 d-none d-lg-block ">Tripadvisor</a>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
        <!-- Header End -->
    </header>
    <main>
        <!-- slider Area Start-->
        <div class="slider-area">
            <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/aboutpage_hero.jpg" >
                <div class="container">
                    <div class="row ">
                        <div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
                            <div class="hero-caption">
                                <span>About Us</span>
                                <h2>About Earthlight</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- Make customer Start-->
      <section class="make-customer-area customar-padding fix">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="customer-img mb-120">
                    <img src="assets/img/about/Resort-View.jpg" class="customar-img1 animated-image" alt="">
                    <img src="assets/img/about/abc.jpg" class="customar-img2 animated-image" alt="">
                </div>
            </div>
            <div class=" col-xl-5 col-lg-5" style="margin-top: -60px;">
                <div class="customer-caption">
                    <span>About our company</span>
                    <h2 style="font-size: 20px;">Namaste and Warm Welcome to Hotel Earth Light, a Unique Luxury Resort in Sauraha</h2>
                    <div class="caption-details">
                        <p class="pera-dtails animated-text" style="font-size: 14px;text-align: justify;">Hotel Earth Light Sauraha located in Chitwan National Park.  Uniquely designed universally accessed classical villas offer an outstanding comfort and tranquility where one can undoubtedly feel staying in not only in a hotel but also in a palace. Red roofed buildings are simply look on white walls truly fascinates the guests.  Hotel Earth Light has symbolically managed a welcoming environment from the first entrance where every guest feels honor to be in and experience homely. Probably the first resort in Nepal, It has practically created universal accessed into all the area like Lobby, Dinning, Rooms and Swimming Pool and the garden.</p>
                    </div>
                    <h2 style="font-size: 20px;">WHY Earthlight</h2>
                    <div class="caption-details">
                        <p class="pera-dtails animated-text" style="font-size: 14px;text-align: justify;">Well set up wood furnished sophisticated rooms are equipped with flat-screen TV with satellite channels, Minibar and a private bathroom, bath tub with free toiletries. Verities of rooms, beds and facilities are exceptionally matched the guest’s need and interest. All buildings surrounded by seasonal terraced garden field views simultaneously offer National Park view, Mountains view. Hotel’s environment has flourished with Lavished Lobby, 24 hours Front Desk, and all day Dinning, Business Halls, Open Garden, Swimming Pool, Open Bar, Roof Top and private parking. </p>
                    </div>
                </div>
            </div>


        </div>
    </div>

</section>
<div style="background-image: url('assets/img/gallery/gallery3.jpg'); background-repeat: no-repeat; background-size: cover; text-align: center; padding: 20px;">
  <p style="text-align: center; font-size: 14px; margin: 0 auto; max-width: 80%; background-color: rgba(0, 0, 0, 0.5); color: white; padding: 10px;">
    "We have also set up a luxury business hall with a capacity of around 100 people. Business corporations, organizations, and groups of different interests will certainly love our program hall arrangements and services. Our facility is fully equipped with advanced technology and infrastructure, and our attentive staff is always ready to provide a luxurious experience to our guests."
  </p>
</div>




        <!-- Make customer End-->


        <!-- Gallery img Start-->
        <div class="gallery-area g-padding fix">
            <div class="container-fluid p-0">
              <div class="row">
                <div class="col-md-12">
                    <div class="gallery-active owl-carousel">
                        <div class="gallery-img">
                            <a href="#"><img src="assets/img/gallery/gally1.jpg" alt="" ></a>
                        </div>
                        <div class="gallery-img">
                            <a href="#"><img src="assets/img/gallery/gally3.jpg" alt="" s></a>
                        </div>
                        <div class="gallery-img">
                            <a href="#"><img src="assets/img/gallery/gally4.jpg" alt="" ></a>
                        </div>
                        <div class="gallery-img">
                            <a href="#"><img src="assets/img/gallery/gally5.jpg" alt="" ></a>
                        </div>
                        <div class="gallery-img">
                            <a href="#"><img src="assets/img/gallery/gally6.jpg" alt=""></a>
                        </div>
                        <div class="gallery-img">
                            <a href="#"><img src="assets/img/gallery/gally7.jpg" alt="" ></a>
                        </div>
                        <div class="gallery-img">
                            <a href="#"><img src="assets/img/gallery/gally8.jpg" alt="" ></a>
                        </div>
                        <div class="gallery-img">
                            <a href="#"><img src="assets/img/gallery/gally9.jpg" alt="" ></a>
                        </div>
                        <!-- <div class="gallery-img">
                            <a href="#"><img src="assets/img/gallery/gally10.jpg" alt="" ></a>
                        </div>
                        <div class="gallery-img">
                            <a href="#"><img src="assets/img/gallery/gally11.jpg" alt="" ></a>
                        </div>
                        <div class="gallery-img">
                            <a href="#"><img src="assets/img/gallery/gally12.jpg" alt=""></a>
                        </div> -->
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- Gallery img End-->
    
    </main>
    <footer>
       <!-- Footer Start-->
       <div class="footer-area black-bg footer-padding" >
           <div class="container">
               <div class="row d-flex justify-content-between">
                   <div class="col-xl-5 col-lg-3 col-md-4 col-sm-6">
                      <div class="single-footer-caption mb-30">
                         <!-- logo -->
                       <!--   <div class="footer-logo">
                           <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                         </div> -->
                         <div class="footer-pera">
                        <p style="text-align: justify;">  
                            Hotel Earth Light Sauraha located in Chitwan National Park. Uniquely designed universally accessed classical villas offers an outstanding comfort and tranquility where one can undoubtedly feel staying in not only in a hotel but also in a palace.
                        </p>
                        <li style="margin-left: -81px; color: white;"><i class="fa fa-facebook" aria-hidden="true"></i>Fb-Page: <a target="_blank" href="https://www.facebook.com/EarthLightSauraha">EarthLightSauraha</a></li>
                        <!-- <div class="footer-social footer-social2" style="margin-right: 59px;">
                             <a href="https://www.facebook.com/EarthLightSauraha"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-tiktok"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                         </div> -->
                         </div>
                      </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                       <div class="single-footer-caption mb-30">
                           <div class="footer-tittle" style="text-align: left;">
                               <h4>Quick Links</h4>
                               <ul>
                                   <li><a href="#">About Earthlight</a></li>
                                     <li><a href="#">Our Service</a></li>
                                   <li><a href="#">Our Best Rooms</a></li>
                                   <li><a href="#">Our Photo Gellary</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-4 col-lg-3 col-md-4  col-sm-5">
                       <div class="single-footer-caption mb-30">
                           <div class="footer-tittle" style="text-align: left;">
                               <h4>Our Location</h4>
                                <ul>
                                    <li><i class="fa fa-map-marker"></i> <a href="#">Baghamara, Sauraha Chitwan National Park, Nepal</a></li>
                                    <li><i class="fa fa-phone"></i> <a href="#">Tel : + 977 56 580454 Cell : + 977 9851126312</a></li>
                                    <li><i class="fa fa-envelope"></i> <a href="#">reservation@hotelearthlight.com</a></li>
                                </ul>
                               <!-- Form -->
                                <!-- <div class="footer-form" >
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                        method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                            class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                              <button type="submit" name="submit" id="newsletter-submit"
                                              class="email_icon newsletter-submit button-contactForm"><img src="assets/img/logo/form-iocn.jpg" alt=""></button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div> -->
                           </div>
                       </div>
                   </div>  
               </div>
           </div>
       </div>
       <div>
           <p style="background-color:#dca73a; text-align:center; color:black; margin-top: -31px;">Copyright © 2023 Radiant Infotech Nepal, All rights reserved</p>
       </div>
       <!-- Footer End-->
   </footer>
   
    <!-- JS here -->
    
        <!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
        
        <!-- Jquery, Popper, Bootstrap -->
        <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
        <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

        <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <!-- Date Picker -->
        <script src="./assets/js/gijgo.min.js"></script>
        <!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
        <script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

        <!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
        <script src="./assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
        <!-- Jquery Plugins, main Jquery -->    
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
    
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script>
    $(document).ready(function() {
        $('.counter').each(function() {
            var $this = $(this);
            var target = parseInt($this.attr('data-target'));
            var count = 0;
            var speed = 2000; // Duration in milliseconds

            var increment = target / speed;

            var timer = setInterval(function() {
                count += increment;
                $this.text(Math.floor(count));

                if (count >= target) {
                    clearInterval(timer);
                    $this.text(target);
                }
            }, 1);
        });
    });
</script>


    </body>
</html>