{% extends "base.html" %}
{% load static %}
{% block content %}


  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"
         id="navbarBlur"
         navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <h6 class="font-weight-bolder mb-0">ROOMS DETAILS</h6>
        </nav>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">ROOM DETAILS</h6>
              </div>
            </div>
            <div class="container-fluid py-4">
              <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                 

                    {% comment %} <form method="POST" action="{% url 'room_create' %}" enctype="multipart/form-data" >
                      {% csrf_token %}
                      <div class="form-group">
                        <label class="col-2 p-2">Name</label>
                        <input type="text"  name="name" value ="{{ slid.name }}"  >
                      </div>
                      <div class="form-group">
                        <label class="col-2 p-2">Image</label>
                        <input type="file" name="image" >
                        {% if slid.image %}
                          <img src="{{ r_detail.image.url }}" style="max-width: 20%; height:auto">
                        {% endif %}
                      <div class="form-group">
                        <label class="col-2 p-2">Ac/Non-Ac</label>
                        <input type="text"  name="Ac_NonAc" value ="{{ r_detail.Ac_NonAc }}"  >
                      </div>
                      <div class="form-group">
                        <label class="col-2 p-2">No. of Bed </label>
                        <input type="number"  name="n_bed" value ="{{ r_detail.n_bed }}"  >
                      </div>
                      <div class="form-group">
                        <label class="col-2 p-2">No. of People</label>
                        <input type="text"  name="n_people" value ="{{ r_detail.n_people }}"  >
                      </div>
                      <div class="form-group">
                        <label class="col-2 p-2">Room Size</label>
                        <input type="text"  name="room_size" value ="{{ r_detail.room_size}}"  >
                      </div>
                      <div class="form-group">
                        <label class="col-2 p-2">Price for Single</label>
                        <input type="text"  name="price_single" value ="{{ r_detail.price_single }}"  >
                      </div>
                      <div class="form-group">
                        <label class="col-2 p-2">Price for Double</label>
                        <input type="text"  name="price_double" value ="{{ r_detail.price_double }}"  >
                      </div>
                      <div class="form-group">
                        <label class="col-2 p-2">Extra bed</label>
                        <input type="text"  name="extra_bed_price" value ="{{ r_detail.extra_bed_price}}" >
                      </div>
                      
                        <div class="form-group">
                          <input type="submit" value="Submit" class="btn btn-primary offset-2 ">
                        </div>
                    </form> {% endcomment %}
                  
                    <style>
                      /* Optional: Add some general styling for the form */
                      form {
                        max-width: 600px;
                        margin: 0 auto;
                        padding: 20px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                      }
                    
                      /* Style for each form section (container) */
                      .form-container {
                        margin-bottom: 20px;
                        padding: 10px;
                        background-color: #f9f9f9;
                        border: 1px solid #ddd;
                        border-radius: 5px;
                      }
                    
                      /* Style for the form labels */
                      .form-group label {
                        display: block;
                        margin-bottom: 5px;
                        font-weight: bold;
                      }
                    
                      /* Style for the form inputs and textarea */
                      .form-group input[type="text"],
                      .form-group textarea {
                        width: 100%;
                        padding: 10px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                      }
                      .form-group input[type="number"],{
                        width: 100%;
                        padding: 10px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;

                      }
                    
                      /* Style for the submit button */
                      .form-group input[type="submit"] {
                        padding: 10px 20px;
                        border: none;
                        border-radius: 4px;
                        background-color: #007bff;
                        color: #fff;
                        cursor: pointer;
                        margin:5px;
                      }
                    
                      .form-group input[type="submit"]:hover {
                        background-color: #0056b3;
                      }
                    
                      /* Optional: Style the image displayed in the form */
                      img {
                        max-width: 20%;
                        height: auto;
                        margin-top: 10px;
                      }
                    </style>
                    
                  <table class="table align-items-center mb-0">
                    <form method="POST" action="{% url 'room_create' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="container">
                        <div class="row">
                          <!-- First Side -->
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="col-12 col-form-label">Name</label>
                              <div class="col-10">
                                <input type="text" class="form-control" name="name" value="">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-12 col-form-label">Image</label>
                              <div class="col-10">
                                <input type="file" class="form-control-file" name="image">
                                {% if r_detail.image %}
                                  <img src="{{ r_detail.image.url }}" class="img-thumbnail" style="max-width: 50%; height: auto>
                                {% endif %}
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-12 col-form-label">Ac/Non-Ac</label>
                              <div class="col-10">
                                <input type="text" class="form-control" name="Ac_NonAc" value="">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-12 col-form-label">No. of Bed</label>
                              <div class="col-10">
                                <input type="number" class="form-control" name="n_bed" value="">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-12 col-form-label">No. of People</label>
                              <div class="col-10">
                                <input type="number" class="form-control" name="n_people" value="">
                              </div>
                            </div>
                          </div>
                      
                          <!-- Second Side -->
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="col-12 col-form-label">Room Size</label>
                              <div class="col-12">
                                <input type="number" class="form-control" name="room_size" value="">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-12 col-form-label">Price for Single</label>
                              <div class="col-12">
                                <input type="number" class="form-control" name="price_single" value="">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-12 col-form-label">Price for Double</label>
                              <div class="col-12">
                                <input type="number" class="form-control" name="price_double" value="">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-12 col-form-label">Extra bed</label>
                              <div class="col-12">
                                <input type="number" class="form-control" name="extra_bed_price" value="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-12 col-form-label">Description</label>
                        <div class="col-12">
                          <textarea name="description" class="form-control" style="height: 200px; resize: vertical;"></textarea>
                        </div>
                      
                      <!-- Submit Button -->
                      <div class="form-group">
                        <div class="col-12">
                          <input type="submit" value="Submit" class="btn btn-primary ">
                        </div>
                      </div>
                      
                      
                    </form> 
                  </table>
                    
                  

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% endblock content %}





