{% extends "base.html" %}
{% load static %}
{% block content %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"
         id="navbarBlur"
         navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <h6 class="font-weight-bolder mb-0">REVIEWS</h6>
        </nav>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">UPDATE REVIEWS</h6>
              </div>
            </div>
            <div class="container-fluid py-4">
              <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <form method="POST" action="#" enctype="multipart/form-data" >
                      {% csrf_token %}
                      <div class="form-group">
                        <label class="col-2 p-2">Name</label>
                        <input type="text"  name="name" value ="{{ rev.name }}"  required>
                      </div>
                      <div class="form-group">
                        
                        <label class="col-2 p-2">Star</label>
                        <input type="number"  name="star" value ="{{ rev.star }}">
                       
                      </div>
                      <div class="form-group">
                        <label class="col-2 p-2">Date</label>
                        {% if rev.date %}
                        <input type="date"  name="date" value ="{{ rev.date }}">
                        {% endif %}
                      </div>
                      <div class="form-group">
                        <label class="col-2 p-2">Feedback</label>
                        <textarea name="feedback" style="height: 200px; width:800px ">{{ rev.feedback }}</textarea>
                      </div>
                      <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary offset-2 ">
                      </div>
                    </form>
                   
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% endblock content %}